{{> head}}


    {{> navbar}}

    <div class="row">
    	<div class="col-8">
    		<h1>Título de la imagen</h1>
			<p>
				Bienvenido al futuro. Con pantalla Super Retina de 5.8 pulgadas, el iPhone X es todo pantalla. Pero no es una pantalla cualquiera, es la primer pantalla OLED que está a la altura de los estándares Apple. Diseño elegante, resistente al agua y polvo, con el vidrio más resistente usado hasta ahora y acero inoxidable de calidad quirúrgica. Carga inalámbrica en la base AirPower. Con iOS 11 y Chip A11 Bionic se logra un samartphone rápido y eficiente, el más inteligente e intuitivo. Su revolucionaria cámara TrueDepth, no solo aporta nuevas funcionalidades para tomar fotos y selfies con calidad de estudio, sino hace posible el mapeo facial adaptativo para el más preciso Face ID, donde tu cara es tu contraseña.
			</p>
    	</div>

    	<div class="col-4">
    		<img src="assets/img/iphone-x.jpg" class="img-thumbnail" />
    	</div>

    </div>

{{> footer}}